.nav-login-logout {
  position: absolute;
  /* position: fixed; */
  right: 100px;
  color: white;
} 

.navbar-nav{
    position: absolute;
  /* position: fixed; */
  right: 160px;
}
.logo-main{
    color: white;
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover>.dropdown-menu{
  display: block;
}
